<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="styles.css">
 <title>Document</title>
</head>
<body>

  
  <div class="body">
    <div class="">
     <nav class="dashboard-header">
     <label data-aos="zoom-out-up"><img src="/image/monsef-logo-removebg-preview.png" class="logo" alt=""></label>
     <h1>DASHBOARD</h1>
     <a href="monsefmedia.com">Go To Homepage</a>
    </nav>
  
    </div>
    <div class="main-body" >
    <div class="sidebar">
     <div class="side_nav" id="side_nav">
      <img src="/image/logo3.png" class="sidebar-img" alt="">
      <nav>
      <ul>
        <li> <a href="./upload.html" class="fa fa-align-left"><p>Upload</p></a> </li>
        <li> <a href="./recieptgenerator.html" class="fa fa-chart-simple"><p>Invoice</p></a> </li>
       
       
       <br><br><br>
       <!-- <li> <a href="" class="fa fa-sign-out"><p>Logout</p></a> </li> -->
       <br><br><br>
       <a class="fa fa-sliders"></a>
   </ul>
   </nav>
  </div>
  </div>

  <form action="" enctype="multipart/form-data" method="POST" class="image" class="*" style=" border: 2px solid black; background-color: #636d6a; padding: 10px;">
    <div><h1>Image upload</h1></div>
    <div style="padding: 50px; ">
    <label for="upload" class="custom-file-upload">
     <label for="" >Upload</label>
      <input type="file" id="upload" name="myFile">  
      <!-- Choose file -->
    </label>
  </div>
   <!-- <input type="file" name="image"> n -->
   <button type="submit" class="" style="padding: 10px; border-radius: 10px;">Upload Image</button>
   <!-- <a href="./gallery.html"></a> -->
 </form>

 </div>
</body>


    <!-- <input type="file" name="myFile" />
    <input type="submit" value="Upload a file"/> -->


</body>
</html>