<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>monsefmedia</title>
 <link rel="icon" type="image/png" sizes="72x72"  href="../image/monsef-logo-removebg-preview.png">
 <link rel="stylesheet" href="./index.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <script src="./index.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <link rel="stylesheet" href="./responsive.css">
</head>
<body>
 <div>
 <div class="navbar" >
    
  <nav id="navbar">
    <label data-aos="zoom-out-up"><img src="/image/monsef-logo-removebg-preview.png" class="logo" alt=""></label>
   <ul>
    <li><a id="nava" class="active" href="/">Home</a></li>
    <li><a id="nav3" href="/#about-us">About</a></li>
    <li><a id="nav2"  href="/gallery">Gallery</a></li>
    <li><a id="nav" href="/service">Service</a></li>
    <li><a id="nav1" href="http://www.youtube.com/@Monsef_media">Documentaries</a></li>
    <li><a id="nav4" href="/contact">Contact Us</a></li>
     
   </ul>
   <label id="icon">
       <i class="fa fa-bars"  id="nav5"></i>
   </label>
</nav>
 
</div>
<div class="contact-banner">
 
  

      <div class="contact_us_inner_text_holder">
        <p>Contact Us</p>
      </div>
</div>
<div class="contact-main">
  <div class="contact-body">
  <div class="contact-text">
    <h1>Get in touch</h1>
    <p>
      Monsef Media and Entertainment—where stories come to life through our lens. Specializing in photo studio brilliance, cinematic videos, and seamless event coverage. 
      </p>
  </div>
  <div class="contact-address">
    <div class="contact-address-text"><i class="fas fa-city" style="font-size:20px"></i><p>NO 1, SOMORIN JUNCTION, OBANTOKO, ABEOKUTA, OGUN STATE, NIGERIA.
    </p></div>
      <div class="contact-address-text"><i class="fas fa-phone-alt"></i><p>+234 (091) 17448070</p></div>
      <div class="contact-address-text"><i class="fas fa-envelope"></i><a href="monsefmedia@monsefmedia.com">monsef.ent@gmail.com</a></div>
  </div>
</div>
<div class="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!3m2!1sen!2sng!4v1704473047608!5m2!1sen!2sng!6m8!1m7!1sXqBzF-08e27ZbK1GPdLkTA!2m2!1d7.178880235667243!2d3.401222736274263!3f160.72769!4f0!5f0.7820865974627469" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>
</div>

<footer class="foot">

 <!--<div class="sitemap">-->
 <!--  <label data-aos="zoom-out-up"><img src="/image/monsef-logo-remove.png" class="footer-logo" alt=""></label>-->
 <!--<div class="uls">-->
 <!--  <ul class="ul2">-->
 <!--    <li>Monday: Close</li>-->
 <!--    <li>Tuesday: 10:00am - 12:00noon</li>-->
 <!--    <li>Wednesday: 9:00am - 1:00pm</li>-->
 <!--    <li>Wednesday: 9:00am - 1:00pm</li>-->
     
 <!--</ul>-->
 <!--<ul class="ul3">-->
 <!--  <br>-->
 <!--    <li>Saturday: 9:00am -5:00pm</li>-->
 <!--    <li>Friday: 8:00am - 3:00pm</li>-->
 <!--    <li>Sunday: 9:00am -5:00pm</li>-->
     
 <!--</ul>-->
 <!--</div>-->
 <!--</div>-->



<div class="social-links">

 <a href="https://web.facebook.com/people/Monsef-Media/100064192656570/"> <i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/monsef_media/"><i class="fa-brands fa-instagram"></i></a>
<a href=""><i class="fa-brands fa-twitter"></i></a>
<a href="http://www.youtube.com/@Monsef_media"><i class="fa-brands fa-youtube"></i></a>
</div>
<p class="copyright">© 2023  All rights reserved.</p>


</footer>
</div>
<a href="https://wa.me/+2348107575289" class="whatsapp-float" target="_blank">
  <!-- <img src="whatsapp-icon.png" alt="WhatsApp Icon"> -->
  <i class="fab fa-whatsapp" style="overflow: hidden;"></i>
</a>


<script>
  $(document).ready(function(){
    $('#icon').click(function(){
        $('ul').toggleClass('show');
    });
});
</script>
</body>
</html>