<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Monsefmedia</title>
 <link rel="icon" type="image/png" sizes="72x72"  href="image/monsef-logo-removebg-preview.png">
 <meta name="keyword" content="monsef media"/>
 <meta name="author" content="mpnsefmedia">
 <link rel="stylesheet" href="index.css">
 <link rel="stylesheet" href="responsive.css">
 <!--<title>monsefmedia</title>-->
 <link rel="icon" type="image/png" sizes="72x72"  href="../image/monsef-logo-removebg-preview.png">
 <!-- <script src="./index.js"></script> -->
 <!-- <script src="./script.js"></script> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
 <div class="body">
    <!-- NAVBAR STARTS -->
    <div class="navbar" >
    
     <nav id="navbar">
      <label data-aos="zoom-out-up"><img src="/image/monsef-logo-removebg-preview.png" class="logo" alt=""></label>
      <ul id="navul">
        <li><a id="nava" class="active" href="/">Home</a></li>
        <li><a id="nav3" href="/#about-us">About</a></li>
        <li><a id="nav2"  href="/gallery">Gallery</a></li>
        <li><a id="nav" href="/service">Service</a></li>
        <li><a id="nav1" href="https://youtube.com/@farotimitomisin8881?si=QZXVkNCNDAEmB4D0">Documentaries</a></li>
        <li><a id="nav4" href="/contact">Contact Us</a></li>
          
        
      </ul>
      <label id="icon">
          <i class="fa fa-bars"></i>
      </label>
  </nav>
    
   </div>
   <!-- NAVBAR END -->
   <div class="slideshow-container" id="slider">
    
    <!-- Full-width images with number and caption text -->
    
  <div class="mySlides fade">
  
   <img src="image/hero1.jpg" >
   <div class="slider-text">
    <h1>WELCOME TO MONSEF MEDIA AND ENTERTAINMENT <br> </h1>
      <i> Streaming your dream</i> <br> <br>
     
    <p>"Step into the Spotlight: Where Imagination Meets Reality. <br> Capturing Moments, Igniting your imaginations, Creating Dreams. <br>
       MONSEF MEDIA AND ENTERTAINMENT - Streaming Your Dreams in Every Frame."
    </p>
    <button><a href="https://wa.me/+2348107575289">Book Us</a></button> 
 </div>

 </div>
 
   </div>


 <div class="mySlides fade">
   
   <img src="image/hero2.png" >
   <div class="slider-text">
    <h1>PROFESSIONAL PHOTOSHOOT <br> </h1>
      
     
    <p>We bring into reality your imaginations and celebrations through the power of our lens. <br>
      Your Story and moments, Our Lens
    </p>
   
  </div>
 </div>

 <div class="mySlides fade">
  
   <img src="image/hero3.png" >
   <div class="slider-text">
    <h1>EVENT COVERAGE <br> </h1>
       <br>
     
    <p>We create memories for your events. Every Moment Matters. <br>
      We Cover Your Events, Craft Your Stories. Your Events, Our Expertise."
    </p>
    
  </div>
 </div>
 
 <div class="mySlides fade">
  
  <img src="image/heroo4.png" >
  <div class="slider-text">
   <h1>Photo studio session <br> </h1>
      <br>
    
   <p>We bring into reality your imaginations and celebrations through the power of our lens. <br>
    Your Story and moments, Our Lens
   </p>
   
 </div>
</div>

<div class="mySlides fade">
  
 <img src="image/hero5.png" >
 <div class="slider-text">
  <h1>BABY PHOTOSHOOT<br> </h1>
     <br>
   
  <p>Tiny Smiles, Big Memories. 
    Adorable moments, <br>Cherishing Baby's Firsts, One Click at a Time, Forever Captured.
  </p>
  
</div>
</div>

<div class="mySlides fade">
  
 <img src="image/DSC_3219.png" >
 <div class="slider-text">
  <h1>FAMILY PHOTOSHOOT<br> </h1>
     <br>
   
  <p>Tiny Smiles, Big Memories. 
    Adorable moments, <br>Cherishing Baby's Firsts, One Click at a Time, Forever Captured.
  </p>
  
</div>
</div>
<div class="mySlides fade">
  
 <img src="images/video.jpg" >
 <div class="slider-text">
  <h1 style=" background-color:#000000c2 ">VIDEO COVERAGE<br> </h1>
     <br>
   
  <p>"Lights, Camera, Unforgettable Action! <br> Cinematic Stories in Every Frame.
  </p>
  
</div>
</div>

 <!-- Next and previous buttons -->
 <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
 <a class="next" onclick="plusSlides(1)">&#10095;</a>

<br>

 <!-- ABOUT SECTION -->

 <div class="body1">
    
  <div class="about-us " id="about-us">
 
   <div class="inner-container"  data-aos="zoom-out-up">
     <h1>About Us</h1>
     <p class="text">
       <!-- Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, quae veritatis sed nostrum dolore soluta delectus magni quod fugiat culpa tenetur! Asperiores aut pariatur culpa maiores laboriosam debitis animi porro? Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ab vitae eum corporis. Iure, debitis rem. Expedita hic debitis tempora cum deserunt reprehenderit, quibusdam molestiae quae at similique explicabo sit. -->
       Monsef Media and Entertainment specializes in photo studio brilliance, cinematic videos, and seamless event coverage, capturing extraordinary moments with authenticity and flair. From milestone celebrations to corporate events, our skilled team turns visions into vibrant stories. Our state-of-the-art studio and on-location coverage ensure every unique moment is beautifully immortalized. 
       Monsef Media—where excellence meets creativity, transforming ordinary instances into extraordinary memories.

     </p>
     <div class="skills">
       <span>Photography</span>
       <span>Video coverage</span>
       <span>Makeup</span>
     </div>
   </div>
  </div>
 </div>
 <!-- ABOUT ENDS -->
 
<!-- join us -->
 <div class="join-us">
  <h1>Picture-Perfect Plans Today?</h1>
  <p>Got photo plans? Ready to turn today’s moments into everlasting memories? <br>
     Book your photo adventures with us and lets make magic together.
 

  </p>
  <br>
  <a href="https://wa.me/+2348107575289" class="slot"><button class="slot-buton">Book a slot</button></a>
 </div>
 <!-- join us -->

 <!-- footer -->
 <footer class="foot">

        
       
    
    
    <div class="social-links">
      <!-- Social media icons -->
     <a href="https://www.facebook.com/profile.php?id=100088012636074&mibextid=ZbWKwL"> <i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/habbayman077?igshid=NGVhN2U2NjQ0Yg=="><i class="fa-brands fa-instagram"></i></a>
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-youtube"></i></a>
    </div>
    <p class="copyright">© 2023  All rights reserved.</p>

  
</footer>

 </div>

<a href="https://wa.me/+2348107575289" class="whatsapp-float" target="_blank">
  <!-- <img src="whatsapp-icon.png" alt="WhatsApp Icon"> -->
  <i class="fab fa-whatsapp" style="overflow: hidden;"></i>
</a>

 <script>
  $(document).ready(function(){
    $('#icon').click(function(){
        $('ul').toggleClass('show');
    });
});

</script>
<script>
 let slideIndex = 0;

showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 4000); // Change image every 5 seconds
}
</script>
</body>
</html>